.configDiv {
    position: absolute;
    top: 4px;
    right: 8px;
}
.timeSpan {
    color: dodgerblue;
    font-weight: bold;
    pointer-events: none;
    /*font-size: x-large;*/
}

.editButton {
    font-weight: bold;
    cursor: pointer;
}

.groups {
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group {
    display: flex;
    flex-direction: column;
}

.groupTitleDiv {
    display: flex;
    flex-direction: row;
}

.groupIcon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    pointer-events: none;
}

.groupTitle {
    color: dodgerblue;
    line-height: 48px;
    font-weight: bold;
    font-size: x-large;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    max-width: 550px;
}

.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pipelines {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}

.pipeline {
    background-color: yellow;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}

.pipelineTitle {
    font-size: large;
    cursor: pointer;
    max-width: 400px;
}

.pipelineName {
    font-style: italic;
    font-size: smaller;
    line-height: 24px;
    cursor: pointer;
    max-width: 400px;
}

.pipelineHistory {
    display: flex;
    flex-direction: row;
}

.pipelineHistoryRef {
    margin-left: 8px;
    margin-right: 12px;
    font-size: smaller;
    cursor: pointer;
    max-width: 350px;
}

.pipelineLastDiv {
    font-size: smaller;
    margin-top: 4px;
    cursor: pointer;
}

.pipelineLastAge {
    vertical-align: middle;
}

.pipelineLastUserName {
    margin-left: 8px;
    vertical-align: middle;
}

.pipelineLastUserImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.removePipeLineButton {
    width: 32px;
}

.dot {
    height: 8px;
    width: 8px;
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    display: inline-block;
    margin: 2px 1px 2px 1px;
    cursor: pointer;
}

.success {
    background-color: green;
    color: lightgreen;
    border-color: lightgreen;
}

.failed {
    background-color: red;
    color: yellow;
    border-color: orange;
}

.running {
    background-color: blue;
    color: lightblue;
    border-color: lightblue;
}

.pending {
    background-color: yellow;
    color: orange;
    border-color: orange;
}

.canceled {
    background-color: white;
    color: darkgray;
    border-color: darkgray;
}

.skipped {
    background-color: gray;
    color: lightgray;
    border-color: lightgray;
} 

/* edit form to build url */

.urlform {
    margin: 8px;
}

.urlformElement {
    margin: 8px;
}

.urlMaxWidth {
    max-width: 400px;
}

.noGroupsDefined {
    font-style:italic;
    font-weight: bold;
    font-size:small;
}

.foundGrouspAndprojects {
    max-width: 550px;
    font-size: small;
}

.hasPipelines {
    font-weight:bolder;
}

.hasNoPipelines {
    color:gray;
}
